.indexContainer {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 4rem;
}

.link {
  color: var(--text-color);
}
